{% extends 'base.html.twig' %}

{% block title %}My DomBox{% endblock %}

{% block body %}

 <div style="text-align: center;color: green;font-size: 40px;">My DomBox</div>


<br><br>

<div class="container">
    <div class="row">
    {% set brightness = light ? light.brightness : 0 %}
        <div class="col-md-4 col-lg-4">
         <i class="fas fa-lightbulb fa-3x darkorange js-light {{ not brightness ? 'min_opacity'  }}"></i>
        </div>

         <div class="col-md-4 col-lg-4">
         <i class="fas fa-border-all fa-3x darkorange"></i>
        </div>

        <div class="col-md-4 col-lg-4">
         <i class="fa fa-thermometer-half fa-3x darkorange" aria-hidden="true"></i
        </div>
    </div>

</div>


<br><br><br>

<div class="container">
    <div class="row">
   
        <div class="col-md-4 col-lg-4">
                <input type="range" value="{{ brightness }}" max="100" min="0" step="1" id="champ1">
                <output class="brightness">{{ brightness }}</output>
        </div>

         <div class="col-md-4 col-lg-4">
                 {% set state = shutter ? shutter.state : 0 %}
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="shutter" {{ state ? 'checked' }}>
                        <label class="custom-control-label" for="shutter"></label>
                    </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="row">
                        <div class="col-md- col-lg-8">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" {{ air ? 'checked' }} id="customRadioInline1" name="customRadioInline1" class="custom-control-input js-summer">
                                <label class="custom-control-label" for="customRadioInline1">{{ constant('App\\Entity\\AirConditioning::MODE_SUMMER') }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" {{ air ? 'checked' }} id="customRadioInline2" name="customRadioInline1" class="custom-control-input js-winter">
                                <label class="custom-control-label" for="customRadioInline2">{{ constant('App\\Entity\\AirConditioning::MODE_WINTER') }}</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            {% set is_hidden = air ? '' : 'd-none' %}
                            <div>
                                <input type="number" name="limit_min" min="0" max="100" value="{{ air ? air.limitMin }}" class="limit limit_min {{ is_hidden }}" placeholder="Température Minimale">
                            </div>
                            <div>
                                <input type="number" name="limit_max" min="0" max="100" value="{{ air ? air.limitMax }}" class="limit limit_max {{ is_hidden }}" placeholder="Température Maximale">
                            </div>
                        </div>
                    </div>
        </div>
    </div>

</div>


<div style="text-align: center;">
    <button type="button" id="submit" class="btn btn-success">Valider vos choix</button>
</div>


{% endblock %}
